<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>John Ivan Puayap</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="icon" href="static/icon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="An art of a cloud" />

      <h1>John Ivan Puayap</h1>
      <h2>a software developer</h2>
      <img
        class="bottom-cloud"
        src="static/images/cloud.png"
        alt="An art of a cloud"
      />
      <img
        class="mountain-img"
        src="static/images/mountain.png"
        alt="An art of a mountain"
      />
    </div>
    <div class="middle-container">
      <div class="profile">
        <img src="static/images/john ivan.png" alt="" width="200" height="200" />
        <h2>Hello there.</h2>
        <p class="intro">
          I'm a passionate software developer based in Cebu City, specializing
          in creating dynamic and user-centric applications for various
          platforms.
        </p>
      </div>
      <hr />
      <div class="project">
        <h2>My Personal Projects.</h2>
        <div class="project-row">
          <img
            class="movie-img"
            src="static/images/movie.png"
            alt="An art of a movie ticket"
          />
          <h3>Movie Match</h3>
          <p>
            A Python movie app that recommends movies to users based on their
            preferences using a swiping interface.
          </p>
        </div>
        <div class="project-row">
          <img
            class="flight-img"
            src="static/images/flight.png"
            alt="An art of a flight seat"
          />
          <h3>Cheap Flight Finder</h3>
          <p>
            A Python movie app that offers movie recommendations based on user
            preferences through an enjoyable swiping interface.
          </p>
        </div>
        <div class="project-row">
          <img
            class="compression-img"
            src="static/images/compression.png"
            alt="An art of a compressed folder"
          />
          <h3>Image Compression with Huffman Coding</h3>
          <p>
            An image compression Java program employing Huffman Coding that
            takes user-uploaded images and generates compressed counterparts for
            efficient storage.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>I'm open to new opportunities and projects to collaborate on.</h3>
        <a class="btn" href="mailto:johnivanpuayap@gmail.com">Contact Me!</a>
      </div>
    </div>

    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/johnivanpuayap/">
        <img
          src="static/images/linkedin.png"
          alt="LinkedIn Logo"
          width="50"
          height="50"
      /></a>
      <a class="footer-link" href="https://github.com/johnivanpuayap"
        ><img
          src="static/images/github.png"
          alt="Github Logo"
          width="50"
          height="50"
        />
      </a>
      <p>© 2023</p>
    </div>
  </body>
</html>